@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    background: #1E1E1E;
    @apply text-default;
    @apply: background-default;
}
html {
    margin: 0;
    padding: 0
;
}

@media (prefers-color-scheme: dark) {
}
.sidebar-icon {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #333;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    transition: left 0.3s;
}

.sidebar-icon:hover {
    left: 150px;
}

.sidebar-content {
    position: fixed;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background-color: #333;
    transition: left 0.3s;
}

.sidebar-content:hover {
    left: 0;
}

