@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    background: #1E1E1E;
    @apply text-default;
    @apply: background-default;
}
html {
    margin: 0;
    padding: 0
;
}

@media (prefers-color-scheme: dark) {
}
.slim-sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #333;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    transition: width 0.3s, left 0.3s;
    width: 50px; /* Slim width */
    overflow: hidden;
}

.slim-sidebar:hover {
    width: 200px;
}

.slim-sidebar .icon {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.slim-sidebar .icon:hover {
    background-color: #444;
    border-radius: 5px;
}

.slim-sidebar .text {
    display: none;
    margin-left: 10px;
}

.slim-sidebar:hover .text {
    display: inline;
}

