@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    background: #1E1E1E;
    @apply text-default;
    @apply: background-default;
}
html {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotate360 2s linear infinite;
}

